body {
    background-color: #F4D04E;
    font-family: 'Figtree', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    min-height: 100vh;
}
.card {
    width: 384px;
    height: 522px;
    background-color: white;
    border: 1px solid black;
    border-radius: 24px;
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card-header {
    border-radius: 12px;
}
.main-text {
    width: 336px;
    height: 194px;
    margin-bottom: 12px;
}
.card-footer {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}
.small-bold {
    font-weight: bold;
    font-size: 14px;
}
p {
    font-size: 16px;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
p, h1, h2 {
    line-height: 150%;
    letter-spacing: 0px;
}
.yellow {
    background-color: #F4D04E;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
}
.main-text a {
    text-decoration: none;
    color: black;
}
.main-text a:hover {
    color:#F4D04E;
}
 .attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.attribution a:hover {
    opacity: 0.6;
}